transformers==4.44.0
tokenizers
accelerate==0.33.0
bitsandbytes==0.43.3
peft==0.12.0
trl==0.9.6
datasets==2.20.0
huggingface_hub
safetensors
wandb
pandas
numpy
scikit-learn
pyarrow
matplotlib
tqdm
pyyaml